body {
	background: url('../../img/login.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h3, label, input[type='submit'] {
	font-family: 'Noto Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.login-form, .login-form input[type='text'], .login-form input[type='password'], input[type='submit'], button {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.login-form {
	margin-top: 10%;
	background: rgba(255,255,255,0.7);
	
}

.login-form h3 {
	text-align: center;
	padding:10px 0;
}

.login-form label {
	font-size: 1.2em;
}

.login-form .button {
	margin: 20px 0;
}

